.page-content {
  height: 100%;
}
.m-sportBets {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: calc(100% -  3.66666667rem );
  padding-bottom: 5.66666667rem;
  position: relative;
}
.m-sportBets .f-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.m-sportBets .f-btwn {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.m-sportBets .f-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.m-sportBets .f-grid {
  display: table;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: grid;
  width: 100%;
}
.m-sportBets .f-alg-side {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: table;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.m-sportBets .f-alg-side .f-alg-side-item {
  display: table-cell;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1%;
  vertical-align: middle;
}
.m-sportBets .f-alg-side .f-alg-side-item:last-of-type {
  text-align: right;
}
.m-sportBets .f-flex-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1%;
}
.m-sportBets .f-count {
  counter-reset: index;
}
.m-sportBets .f-count-item::before {
  content: counter(index) '.';
  counter-increment: index;
}
.m-sportBets .m-error-wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: table;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20% 2.66666667rem 0;
}
.m-sportBets .m-error-wrapper > div {
  display: table-cell;
  text-align: center;
  width: 100%;
}
.m-sportBets .m-error-wrapper .m-icon-loading {
  -webkit-animation: loading-rotate 2s linear infinite;
          animation: loading-rotate 2s linear infinite;
  display: block;
  height: 2.5rem;
  text-align: center;
}
.m-sportBets .m-error-wrapper .m-icon-loading:before {
  content: '\e654';
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.m-sportBets .m-error-wrapper .m-icon-loading:before {
  color: #9CA0AB;
  font-size: 2.5rem;
  line-height: 1;
}
.m-sportBets .m-error-wrapper .m-text-msg {
  color: #9CA0AB;
  display: block;
  font-size: 1rem;
  line-height: 1.33333333rem;
  margin-top: 2.5rem;
}
.m-sportBets .m-error-wrapper .m-error-msg {
  color: #9CA0AB;
  display: block;
  font-size: 1.16666667rem;
  line-height: 1.58333333rem;
  margin-bottom: 2.25rem;
}
.m-sportBets .m-error-wrapper .m-error-msg:before {
  content: '\e624';
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.m-sportBets .m-error-wrapper .m-error-msg:before {
  color: #9CA0AB;
  display: block;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1.25rem;
}
.m-sportBets .m-error-wrapper .m-btn {
  border: 1px solid #0D9737;
  border-radius: 0.25rem;
  color: #0D9737;
  display: inline-block;
  height: 2.83333333rem;
  line-height: 2.83333333rem;
  padding: 0 2.33333333rem;
}
.m-sportBets .m-error-wrapper .m-btn-text {
  color: #33EA6A;
  font-size: 14px;
  height: 16px;
  text-align: center;
}
.m-sportBets .top-bar {
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.41666667rem;
  padding: 0.66666667rem 0.83333333rem;
  width: 100%;
}
.m-sportBets .top-bar .selector {
  height: 100%;
  width: 2.5rem;
}
.m-sportBets .top-bar .card-format-btn {
  background: #9CA0AB;
  -webkit-box-shadow: inset 0px 0px 0px 5px #FFFFFF;
          box-shadow: inset 0px 0px 0px 5px #FFFFFF;
  height: 2.41666667rem;
  position: relative;
  width: 2.41666667rem;
}
.m-sportBets .top-bar .card-format-btn:before {
  background: #FFFFFF;
  content: '';
  height: 100%;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0.16666667rem;
}
.m-sportBets .top-bar .card-format-btn:after {
  background: #FFFFFF;
  content: '';
  height: 0.16666667rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}
.m-sportBets .top-bar .m-open-bet-filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 0;
}
.m-sportBets .top-bar .m-open-bet-filter .m-nav-item {
  background: #EAECEF;
  border-radius: 0.16666667rem;
  color: #1B1E25;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  height: 2.33333333rem;
  line-height: 2.33333333rem;
  margin-right: 0.33333333rem;
  min-width: 5.83333333rem;
  padding: 0 0.83333333rem;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
.m-sportBets .top-bar .m-open-bet-filter .m-nav-item--active {
  background: #353A45;
  border-bottom: none;
  color: #FFFFFF;
}
.m-sportBets .m-openbet.live-display .top-bar {
  position: fixed;
  z-index: 1;
}
.m-sportBets .m-openbet.live-display .m-bet-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  padding-top: 4.66666667rem;
}
.m-sportBets.m-sportBets-fix {
  padding-bottom: 0;
}
.bg-white {
  background-color: #FFFFFF;
}
.align-r {
  text-align: right;
}
.open-bet-toast.es-dialog-toast {
  background: #353A45;
  border-color: #353A45;
  border-radius: 1.66666667rem;
  color: #FFFFFF;
  font-size: 1.16666667rem;
}
.open-bet-toast.es-dialog-toast .es-dialog-body .es-dialog-main {
  padding: 0.5rem 0;
}

.m-sportBets .m-bethistory .tabs-wrapper {
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.83333333rem 0.83333333rem 1rem;
}
.m-sportBets .m-bethistory .m-order-select-nav {
  height: auto;
}
.m-sportBets .m-bethistory .m-order-select-nav .m-nav-item {
  background: #EAECEF;
  border-radius: 0.16666667rem;
  color: #1B1E25;
  font-size: 1rem;
  font-weight: 500;
  height: 2.33333333rem;
  line-height: 2.33333333rem;
  margin-left: 0.33333333rem;
  text-align: center;
  width: 6rem;
}
.m-sportBets .m-bethistory .m-order-select-nav .m-nav-item--active {
  background: #353A45;
  border-bottom: none;
  color: #FFFFFF;
}
.m-sportBets .m-calendar--order {
  position: relative;
}
.m-sportBets .m-calendar--order .close {
  top: 1.33333333rem;
}

.m-order .all-dates[data-v-5ac3f8c7] {
  color: #353A45;
  font-size: 0;
  text-align: right;
}
.m-order .all-dates .m-txt[data-v-5ac3f8c7] {
  display: inline-block;
  font-size: 1rem;
  margin-right: 0.41666667rem;
  vertical-align: middle;
}
.m-order .all-dates .i-icon-more[data-v-5ac3f8c7] {
  display: inline-block;
  vertical-align: middle;
}
.m-order .all-dates .i-icon-more[data-v-5ac3f8c7]:before {
  content: '\e6a3';
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.m-order .all-dates .i-icon-more[data-v-5ac3f8c7]::before {
  font-size: 0.83333333rem;
  line-height: 1;
}
.m-order .list-wrapper[data-v-5ac3f8c7] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem 1rem 0 1rem;
}
.m-order .m-scroll[data-v-5ac3f8c7] {
  height: auto;
}
.m-order .m-scroll .only-win[data-v-5ac3f8c7] {
  height: 3.33333333rem;
  text-align: right;
}
.m-order .m-scroll .only-win .text[data-v-5ac3f8c7] {
  color: #000000;
  font-size: 1rem;
  margin-right: 0.75rem;
  vertical-align: super;
}
.m-order .m-scroll .only-win .outter[data-v-5ac3f8c7],
.m-order .m-scroll .only-win .inner[data-v-5ac3f8c7] {
  border: 0.08333333rem solid #0D9737;
  display: inline-block;
}
.m-order .m-scroll .only-win .outter[data-v-5ac3f8c7] {
  height: 1.66666667rem;
  line-height: 1.66666667rem;
  text-align: left;
  width: 2.58333333rem;
}
.m-order .m-scroll .only-win .outter .inner[data-v-5ac3f8c7] {
  background: #FFFFFF;
  height: 1.33333333rem;
  margin: 0.08333333rem 0.08333333rem 0 0.08333333rem;
  width: 1.33333333rem;
}
.m-order .m-scroll .only-win .off[data-v-5ac3f8c7] {
  background: #DCDEE5;
}
.m-order .m-scroll .only-win .on[data-v-5ac3f8c7] {
  background: #33EA6A;
  text-align: right;
}
.m-order .m-scroll .wide[data-v-5ac3f8c7] {
  border-top: 0.08333333rem solid #EAECEF;
  margin-top: -0.83333333rem;
  padding-top: 0.83333333rem;
}
.m-order .m-scroll .year[data-v-5ac3f8c7] {
  font-size: 1.16666667rem;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
  text-align: center;
}
.m-order .m-scroll .ticket-list[data-v-5ac3f8c7] {
  display: table-row;
}
.m-order .m-scroll .ticket-list .date[data-v-5ac3f8c7] {
  color: #9CA0AB;
  display: table-cell;
}
.m-order .m-scroll .ticket-list .date .hide[data-v-5ac3f8c7] {
  visibility: hidden;
}
.m-order .m-scroll .ticket-list .date .day[data-v-5ac3f8c7] {
  font-size: 1.5rem;
  font-weight: bold;
}
.m-order .m-scroll .ticket-list .date .month[data-v-5ac3f8c7] {
  font-size: 1rem;
}
.m-order .m-scroll .ticket-list .place[data-v-5ac3f8c7] {
  display: table-cell;
  width: 2.5rem;
}
.m-order .m-scroll .ticket-list .list[data-v-5ac3f8c7] {
  display: table-cell;
  padding-bottom: 0.83333333rem;
  width: 85%;
}
.m-order .m-scroll .ticket-list .list.no-border[data-v-5ac3f8c7] {
  border-width: 0px;
}
.m-order .m-scroll .ticket-list .list .bar[data-v-5ac3f8c7] {
  background: #1B1E25;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  height: 2rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 2rem;
  padding: 0 0.75rem;
}
.m-order .m-scroll .ticket-list .list .bar .type[data-v-5ac3f8c7] {
  font-size: 1.33333333rem;
}
.m-order .m-scroll .ticket-list .list .bar .block[data-v-5ac3f8c7]:before {
  background: #e41827;
  content: "";
  display: inline-block;
  height: 1rem;
  margin-right: 0.41666667rem;
  vertical-align: middle;
  width: 1rem;
}
.m-order .m-scroll .ticket-list .list .bar .cup[data-v-5ac3f8c7]:before {
  content: '\e626';
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.m-order .m-scroll .ticket-list .list .bar .cup[data-v-5ac3f8c7]::before {
  color: #FFFFFF;
  display: inline-block;
  font-size: 1.33333333rem;
  margin-right: 0.41666667rem;
}
.m-order .m-scroll .ticket-list .list .bar .status[data-v-5ac3f8c7] {
  font-size: 1.16666667rem;
}
.m-order .m-scroll .ticket-list .list .bar .status .arrow[data-v-5ac3f8c7]:before {
  content: '\e608';
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.m-order .m-scroll .ticket-list .list .bar .status .arrow[data-v-5ac3f8c7]::before {
  font-size: 0.83333333rem;
  left: 0.66666667rem;
  padding-right: 0.41666667rem;
  position: relative;
}
.m-order .m-scroll .ticket-list .list .win[data-v-5ac3f8c7] {
  background: #0D9737;
}
.m-order .m-scroll .ticket-list .list .lost[data-v-5ac3f8c7] {
  background: #9CA0AB;
}
.m-order .m-scroll .ticket-list .list .title[data-v-5ac3f8c7] {
  color: #9CA0AB;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.91666667rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.75rem;
  padding: 0 0.75rem;
}
.m-order .m-scroll .ticket-list .list .total_info[data-v-5ac3f8c7] {
  color: #353A45;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.75rem;
}
.m-order .m-scroll .ticket-list .list .total_info .green[data-v-5ac3f8c7] {
  color: #0D9737;
  font-size: 1.66666667rem;
}
.m-order .m-scroll .ticket-list .list .flexibet-title[data-v-5ac3f8c7] {
  padding: 0 0.75rem;
  color: #9CA0AB;
  font-size: 0.83333333rem;
  margin-top: 0.41666667rem;
  margin-bottom: 0.66666667rem;
}
.m-order .m-scroll .ticket-list .list .flexibet-title i[data-v-5ac3f8c7] {
  background-color: #32CE62;
  color: #FFFFFF;
  padding-right: 0.41666667rem;
  display: inline-block;
  vertical-align: middle;
  padding: 1px 0 1px 3px;
  font-weight: 700;
  font-size: 1.16666667rem;
  line-height: 1;
  position: relative;
  margin-right: 0.58333333rem;
}
.m-order .m-scroll .ticket-list .list .flexibet-title i[data-v-5ac3f8c7]:after {
  position: absolute;
  top: 0;
  right: -2px;
  height: 100%;
  width: 4px;
  content: ' ';
  display: block;
  background: #32CE62;
  -webkit-transform: skew(-12deg);
      -ms-transform: skew(-12deg);
          transform: skew(-12deg);
}
.m-order .m-scroll .ticket-list .list .teams li[data-v-5ac3f8c7] {
  color: #9CA0AB;
  font-size: 1.16666667rem;
  overflow: hidden;
  padding: 0 0.75rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 19.83333333rem;
}
.m-order .m-scroll .ticket-list .list .pending-statement[data-v-5ac3f8c7] {
  color: #9CA0AB;
  font-size: 0.83333333rem;
  margin-left: 0.75rem;
  margin-top: 0.75rem;
}
.m-order .m-scroll .ticket-list .list .narrow[data-v-5ac3f8c7] {
  border-bottom: 0.08333333rem solid #EAECEF;
  margin-top: 0.75rem;
}
.m-order .m-scroll .ticket-list .list .order-boost[data-v-5ac3f8c7] {
  color: #353A45;
  font-size: 0.83333333rem;
  line-height: 1.33333333rem;
  padding-left: 0.75rem;
}
.m-order .m-scroll .ticket-list .list .order-boost .boost-icon[data-v-5ac3f8c7] {
  height: 0.91666667rem;
  margin-top: -0.25rem;
  width: 1.33333333rem;
}
.m-order .m-scroll .nomore[data-v-5ac3f8c7] {
  color: #9CA0AB;
  font-size: 0.83333333rem;
  text-align: center;
}
.m-order .m-scroll .view-more[data-v-5ac3f8c7] {
  background: #F2F3F5;
  margin-left: -1rem;
  padding-right: 2.41666667rem;
  text-align: center;
  width: 100%;
}
.m-order .m-scroll .view-more p[data-v-5ac3f8c7] {
  padding-left: 3.33333333rem;
}
.m-order .m-scroll .view-more p[data-v-5ac3f8c7]:first-child {
  color: #9CA0AB;
  padding-top: 1.25rem;
}
.m-order .m-scroll .view-more p[data-v-5ac3f8c7]:last-child {
  color: #3656A3;
  padding-bottom: 1.25rem;
}
.m-order .m-scroll .view-more p:last-child .icon[data-v-5ac3f8c7]:before {
  content: '\e608';
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.m-order .m-scroll .view-more p:last-child .icon[data-v-5ac3f8c7]:before {
  font-size: 1rem;
  margin-left: 0.41666667rem;
}
.m-order .tabs-wrapper[data-v-5ac3f8c7] {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: table;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 10rem;
  width: 100%;
}
.m-order .tabs-wrapper .m-l-left[data-v-5ac3f8c7],
.m-order .tabs-wrapper .m-l-right[data-v-5ac3f8c7] {
  display: table-cell;
  vertical-align: middle;
}
.m-order .tabs-wrapper .m-l-left[data-v-5ac3f8c7] {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1%;
}
.m-order .tabs-wrapper .m-l-right[data-v-5ac3f8c7] {
  width: 10rem;
}
