html {
  color: #000;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Helvetica, Arial, sans-serif
}

article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
  margin: 0;
  padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

th {
  text-align: inherit
}

fieldset, img {
  border: 0
}

iframe {
  display: block
}

abbr, acronym {
  border: 0;
  font-variant: normal
}

del {
  text-decoration: line-through
}

address, b, caption, cite, code, dfn, em, i, th, var {
  font-style: normal;
  font-weight: 500
}

ol, ul {
  list-style: none
}

b, h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500
}

q:after, q:before {
  content: ""
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

img, input, select {
  vertical-align: middle;
  display: inline-block
}

::-webkit-input-placeholder {
  color: #999
}

::-moz-placeholder {
  color: #999
}

::-ms-input-placeholder {
  color: #999
}

::placeholder {
  color: #999
}

embed, object {
  outline: none
}

canvas {
  -ms-touch-action: double-tap-zoom
}

html {
  height: 100%
}

body {
  min-height: 100%;
  -webkit-overflow-scrolling: touch
}

body, button, input, select, textarea {
  font: 12px/1.5 Helvetica, Verdana, Menlo, Gill Sans, arial, simsun
}

input, select, textarea {
  font-size: 100%
}

a:hover {
  text-decoration: underline
}

a, ins {
  text-decoration: none
}

#noScript {
  position: fixed;
  _position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #ccc;
  opacity: .7;
  filter: alpha(opacity=70)
}

#noScript div {
  background-color: #222;
  padding: 10px;
  border: 1px solid #000;
  position: absolute;
  width: 350px;
  margin-left: -175px;
  left: 50%;
  top: 30%;
  _top: 150px;
  border-radius: 12px;
  -webkit-transform: all .3s ease-out;
  -ms-transform: all .3s ease-out;
  transform: all .3s ease-out
}

#noScript div:hover {
  -webkit-transform: cale(1.5);
  -ms-transform: cale(1.5);
  transform: cale(1.5)
}

#noScript h2 {
  font-size: 18px;
  font-weight: 700;
  color: #fff
}

#noScript p {
  margin: 8px 0 0;
  color: #fff;
  font-size: 12px;
  line-height: 14px
}

#noScript a {
  color: #fff;
  text-decoration: underline
}

@media screen and (min-width:240px) {
  body, button, html, input, select, textarea {
    font-size: 10px
  }
}

@media screen and (min-width:321px) {
  body, button, html, input, select, textarea {
    font-size: 12px
  }
}

@media screen and (min-width:375px) {
  body, button, html, input, select, textarea {
    font-size: 13.0625px
  }
}

@media screen and (min-width:420px) {
  body, button, html, input, select, textarea {
    font-size: 16px
  }
}

@media screen and (min-width:450px) {
  body, button, html, input, select, textarea {
    font-size: 17px
  }
}

@media screen and (min-width:480px) {
  body, button, html, input, select, textarea {
    font-size: 18px
  }
}

@media screen and (min-width:540px) {
  body, button, html, input, select, textarea {
    font-size: 20.25px
  }
}

@media screen and (min-width:600px) {
  body, button, html, input, select, textarea {
    font-size: 22px
  }
}

.event-detail .m-sport-market-no-data {
  color: #9CA0AB;
  margin-top: 5%;
  padding: 2.33333333rem;
  text-align: center;
}

@media screen and (min-width:640px) {
  body, button, html, input, select, textarea {
    font-size: 24px
  }
}

@media screen and (min-width:750px) {
  body, button, html, input, select, textarea {
    font-size: 28.125px
  }
}

@font-face {
  font-family: iconfont;
  src: url(//s.sporty.net/global/main/common/iconfont/iconfont.df3dff72a2.eot);
  src: url(//s.sporty.net/global/main/common/iconfont/iconfont.df3dff72a2.eot#iefix) format("embedded-opentype"), url(//s.sporty.net/global/main/common/iconfont/iconfont.7e8aee7e73.woff2) format("woff2"), url(//s.sporty.net/global/main/common/iconfont/iconfont.deae2e5911.woff) format("woff"), url(//s.sporty.net/global/main/common/iconfont/iconfont.667f4c517b.ttf) format("truetype"), url(//s.sporty.net/global/main/common/iconfont/iconfont.8522cce87b.svg#iconfont) format("svg")
}

.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-live_virtuals-01:before {
  content: "\e6d4"
}

.icon-content_copy:before {
  content: "\e6d2"
}

.icon-reversed-sms:before {
  content: "\e6d22"
}

.icon-ic_olympic1:before {
  content: "\e6d3"
}

.icon-svg_eicehockey:before {
  content: "\e6d1"
}

.icon-svg_ebasketball:before {
  content: "\e6cf"
}

.icon-svg_etennis:before {
  content: "\e6d0"
}

.icon-svg_esoccer:before {
  content: "\e6cd"
}

.icon-mmaicon:before {
  content: "\e6ce"
}

.icon-help_new:before {
  content: "\e6cc"
}

.icon-home:before {
  content: "\e6cb"
}

.icon-snooker:before {
  content: "\e6ca"
}

.icon-golf:before {
  content: "\e6c9"
}

.icon-futsal:before {
  content: "\e6c8"
}

.icon-f1:before {
  content: "\e6c7"
}

.icon-boxing:before {
  content: "\e6c6"
}

.icon-american_football:before {
  content: "\e6c5"
}

.icon-virtuals_new_icon:before {
  content: "\e6c4"
}

.icon-ic_gift_check:before {
  content: "\e6c3"
}

.icon-live_games:before {
  content: "\e6bf"
}

.icon-discount_gift:before {
  content: "\e6c2"
}

.icon-free_bet_gift:before {
  content: "\e6c1"
}

.icon-cash_gift:before {
  content: "\e6c0"
}

.icon-baseball:before {
  content: "\e6bc"
}

.icon-phone-call:before {
  content: "\e6be"
}

.icon-sms:before {
  content: "\e6bd"
}

.icon-cs_go:before {
  content: "\e6ba"
}

.icon-ic_badminton:before {
  content: "\e6bb"
}

.icon-dota:before {
  content: "\e6b9"
}

.icon-lol:before {
  content: "\e6b8"
}

.icon-gift-2:before {
  content: "\e6b7"
}

.icon-tableTennis:before {
  content: "\e6b6"
}

.icon-eSports:before {
  content: "\e6b5"
}

.icon-page2:before {
  content: "\e6b4"
}

.icon-lock-with-slot:before {
  content: "\e6b2"
}

.icon-t-shirt-1:before {
  content: "\e6b3"
}

.icon-team-base-1:before {
  content: "\e68f"
}

.icon-team-base-2:before {
  content: "\e699"
}

.icon-team-sleeve-1:before {
  content: "\e69f"
}

.icon-team-outline-1:before {
  content: "\e6a0"
}

.icon-team-sleeve-2:before {
  content: "\e6a1"
}

.icon-team-outline-2:before {
  content: "\e6a4"
}

.icon-team-base-3:before {
  content: "\e6a6"
}

.icon-team-base-4:before {
  content: "\e6a7"
}

.icon-team-sleeve-3:before {
  content: "\e6a8"
}

.icon-team-outline-3:before {
  content: "\e6a9"
}

.icon-team-base-5:before {
  content: "\e6aa"
}

.icon-team-sleeve-4:before {
  content: "\e6ab"
}

.icon-team-outline-4:before {
  content: "\e6ac"
}

.icon-team-sleeve-5:before {
  content: "\e6ad"
}

.icon-team-outline-5:before {
  content: "\e6ae"
}

.icon-team-base-6:before {
  content: "\e6af"
}

.icon-team-sleeve-6:before {
  content: "\e6b0"
}

.icon-team-outline-6:before {
  content: "\e6b1"
}

.icon-scheduled-virtuals:before {
  content: "\e68a"
}

.icon-instant-virtuals:before {
  content: "\e69d"
}

.icon-fantasy:before {
  content: "\e69e"
}

.icon-won:before {
  content: "\e69c"
}

.icon-iw_team_logo_sleeve:before {
  content: "\e698"
}

.icon-iw_team_logo_base:before {
  content: "\e697"
}

.icon-iw_team_logo_top:before {
  content: "\e695"
}

.icon-plus-circle:before {
  content: "\e696"
}

.icon-captain_unselected:before {
  content: "\e694"
}

.icon-minus-circle:before {
  content: "\e690"
}

.icon-captain_selected:before {
  content: "\e691"
}

.icon-vc_unselected:before {
  content: "\e692"
}

.icon-vc_selected:before {
  content: "\e693"
}

.icon-clock:before {
  content: "\e68e"
}

.icon-t-shirt-bg:before {
  content: "\e607"
}

.icon-collar:before {
  content: "\e60a"
}

.icon-t-shirt-2:before {
  content: "\e60d"
}

.icon-info:before {
  content: "\e68b"
}

.icon-flag-plus:before {
  content: "\e68c"
}

.icon-timer:before {
  content: "\e689"
}

.icon-calendar:before {
  content: "\e61a"
}

.icon-emoji:before {
  content: "\e688"
}

.icon-_CommentCopyx:before {
  content: "\e687"
}

.icon-_x:before {
  content: "\e686"
}

.icon-Pathx:before {
  content: "\e685"
}

.icon-_SportyCoinsx:before {
  content: "\e684"
}

.icon-_ME-PromotionsCop:before {
  content: "\e683"
}

.icon-_Help-DepositFaile:before {
  content: "\e67e"
}

.icon-_Help-LiveChatx:before {
  content: "\e681"
}

.icon-_Help-phoneCallx:before {
  content: "\e682"
}

.icon-Ball-Tennisx1:before {
  content: "\e680"
}

.icon-Ball-Cricketx:before {
  content: "\e673"
}

.icon-Ball-Basketx:before {
  content: "\e674"
}

.icon-Ball-Dartsx:before {
  content: "\e675"
}

.icon-Ball-BeachVolleyx:before {
  content: "\e676"
}

.icon-Ball-handballx:before {
  content: "\e67a"
}

.icon-Ball-Rugbyx:before {
  content: "\e67b"
}

.icon-Ball-IceHockeyx:before {
  content: "\e67c"
}

.icon-Ball-footabllx:before {
  content: "\e67d"
}

.icon-Ball-Volleyballx:before {
  content: "\e67f"
}

.icon-CombinedShape:before {
  content: "\e679"
}

.icon-shop_x:before {
  content: "\e678"
}

.icon-_editx:before {
  content: "\e671"
}

.icon-_backspaceCopyx:before {
  content: "\e672"
}

.icon-_Keyboardx:before {
  content: "\e670"
}

.icon-_Analyzex:before {
  content: "\e667"
}

.icon-_Commentx:before {
  content: "\e669"
}

.icon-_VoteUpx:before {
  content: "\e66b"
}

.icon-_Chatx:before {
  content: "\e66c"
}

.icon-_Votedx:before {
  content: "\e66d"
}

.icon-_Marketx:before {
  content: "\e66e"
}

.icon-help:before {
  content: "\e66f"
}

.icon-shouji:before {
  content: "\e666"
}

.icon-FlexiBetx:before {
  content: "\e66a"
}

.icon-geren:before {
  content: "\e662"
}

.icon-live:before {
  content: "\e663"
}

.icon-LoadCodex:before {
  content: "\e661"
}

.icon-jiaoyijilu:before {
  content: "\e660"
}

.icon-chongzhi:before {
  content: "\e65e"
}

.icon-tixian:before {
  content: "\e65f"
}

.icon-Trashx:before {
  content: "\e65d"
}

.icon-facebookhover:before {
  content: "\e65c"
}

.icon-group-:before {
  content: "\e668"
}

.icon-social-whatsapp:before {
  content: "\e65b"
}

.icon-all:before {
  content: "\e68d"
}

.icon-group:before {
  content: "\e665"
}

.icon-rili:before {
  content: "\e664"
}

.icon-xiaolian:before {
  content: "\e79e"
}

.icon-kulian-line:before {
  content: "\e6a2"
}

.icon-dianzan:before {
  content: "\e60f"
}

.icon-lock_outline_black_:before {
  content: "\e650"
}

.icon-credit_card_black_:before {
  content: "\e652"
}

.icon-date_range_black_p:before {
  content: "\e659"
}

.icon-me-how-to:before {
  content: "\e65a"
}

.icon-Live-Statistic:before {
  content: "\e64a"
}

.icon-Live-Stream:before {
  content: "\e64e"
}

.icon-Live-tracker:before {
  content: "\e64f"
}

.icon-Homex:before {
  content: "\e649"
}

.icon-LockCopyx:before {
  content: "\e647"
}

.icon-twitter:before {
  content: "\e642"
}

.icon-instegrame-copy:before {
  content: "\eb6a"
}

.icon-chatx:before {
  content: "\e657"
}

.icon-loudspeaker:before {
  content: "\e656"
}

.icon-Safaricomgray:before {
  content: "\e64d"
}

.icon-mpesagray:before {
  content: "\e64c"
}

.icon-x:before {
  content: "\e653"
}

.icon-licensex:before {
  content: "\e655"
}

.icon-livechatx:before {
  content: "\e646"
}

.icon-ic_info:before {
  content: "\e64b"
}

.icon-Top:before {
  content: "\e60c"
}

.icon-Slider:before {
  content: "\e625"
}

.icon-Swich_OFF:before {
  content: "\e628"
}

.icon-ChechBox_checked:before {
  content: "\e638"
}

.icon-Play_Hide:before {
  content: "\e63e"
}

.icon-Swich_ON:before {
  content: "\e63f"
}

.icon-Play:before {
  content: "\e640"
}

.icon-HideAndSeeCopy:before {
  content: "\e641"
}

.icon-Refresh:before {
  content: "\e645"
}

.icon-giftCheckbox:before {
  content: "\e622"
}

.icon-accountx:before {
  content: "\e644"
}

.icon-cricket:before {
  content: "\e643"
}

.icon-share-fb:before {
  content: "\e63d"
}

.icon-dollar2:before {
  content: "\e63c"
}

.icon-duigou:before {
  content: "\e63b"
}

.icon-user_dft:before {
  content: "\e639"
}

.icon-mail:before {
  content: "\e63a"
}

.icon-flash:before {
  content: "\e637"
}

.icon-mobile:before {
  content: "\e630"
}

.icon-setting:before {
  content: "\e631"
}

.icon-promotions:before {
  content: "\e632"
}

.icon-gift:before {
  content: "\e633"
}

.icon-banlence:before {
  content: "\e634"
}

.icon-file-download:before {
  content: "\e635"
}

.icon-add_circle_black:before {
  content: "\e636"
}

.icon-jackpot:before {
  content: "\e629"
}

.icon-result:before {
  content: "\e62a"
}

.icon-tv:before {
  content: "\e62b"
}

.icon-livescore:before {
  content: "\e62c"
}

.icon-sports:before {
  content: "\e62e"
}

.icon-virtual:before {
  content: "\e62f"
}

.icon-wincup:before {
  content: "\e626"
}

.icon-dollar:before {
  content: "\e627"
}

.icon-exclamation:before {
  content: "\e624"
}

.icon-icon-user:before {
  content: "\e621"
}

.icon-Shape:before {
  content: "\e61f"
}

.icon-arrowback:before {
  content: "\e620"
}

.icon-loading-circle:before {
  content: "\e654"
}

.icon-question:before {
  content: "\e61e"
}

.icon-cup:before {
  content: "\e619"
}

.icon-pageques:before {
  content: "\e61b"
}

.icon-sportbet:before {
  content: "\e618"
}

.icon-light:before {
  content: "\e612"
}

.icon-safe:before {
  content: "\e615"
}

.icon-page:before {
  content: "\e616"
}

.icon-cashout:before {
  content: "\e617"
}

.icon-logo:before {
  content: "\e610"
}

.icon-lock:before {
  content: "\e60e"
}

.icon-ac-right:before {
  content: "\e60b"
}

.icon-check:before {
  content: "\e658"
}

.icon-angleleft:before {
  content: "\e604"
}

.icon-print:before {
  content: "\e77b"
}

.icon-delete:before {
  content: "\e602"
}

.icon-checknor:before {
  content: "\e614"
}

.icon-star:before {
  content: "\e898"
}

.icon-sanjiaoxing:before {
  content: "\e62d"
}

.icon-zhiding:before {
  content: "\e600"
}

.icon-checkmark:before {
  content: "\e611"
}

.icon-sanjiaoxing1:before {
  content: "\e6a3"
}

.icon-arrowRight-copy:before {
  content: "\e603"
}

.icon-facebookf:before {
  content: "\e6e2"
}

.icon-hide:before {
  content: "\e76b"
}

.icon-jiantou-xia:before {
  content: "\e605"
}

.icon-error:before {
  content: "\e606"
}

.icon-arrowll-right:before {
  content: "\e608"
}

.icon-jiantou-copy:before {
  content: "\e609"
}

.icon-qushitu:before {
  content: "\e61d"
}

.icon-error1:before {
  content: "\e623"
}

.icon-tips:before {
  content: "\e651"
}

.icon-wifi:before {
  content: "\e733"
}

.icon-tick1:before {
  content: "\e69b"
}

.icon-edit1:before {
  content: "\e61c"
}

.icon-loading:before {
  content: "\e648"
}

.icon-UploadCloud:before {
  content: "\e601"
}

.icon-search:before {
  content: "\e613"
}

.icon-delete8e:before {
  content: "\e677"
}

.icon-close:before {
  content: "\e69a"
}

.icon-less:before {
  content: "\e6a5"
}

.m-icon-reversed-sms:before {
  content: "\e6d22";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.m-icon--vFootball:before {
  content: "\e6d4";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.m-icon--snooker:before {
  content: "\e6ca";
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-16-size:before {
  font-size: 1.33333333rem
}

@-webkit-keyframes logoLoading {
  0% {
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0)
  }

  37.5% {
    -webkit-transform: scale(.8) translateZ(0);
    transform: scale(.8) translateZ(0)
  }

  62.5% {
    -webkit-transform: scale(.6) translateZ(0);
    transform: scale(.6) translateZ(0)
  }

  87.5% {
    -webkit-transform: scale(.5) translateZ(0);
    transform: scale(.5) translateZ(0)
  }

  to {
    -webkit-transform: scale(.4) translateZ(0);
    transform: scale(.4) translateZ(0)
  }
}

@keyframes logoLoading {
  0% {
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0)
  }

  37.5% {
    -webkit-transform: scale(.8) translateZ(0);
    transform: scale(.8) translateZ(0)
  }

  62.5% {
    -webkit-transform: scale(.6) translateZ(0);
    transform: scale(.6) translateZ(0)
  }

  87.5% {
    -webkit-transform: scale(.5) translateZ(0);
    transform: scale(.5) translateZ(0)
  }

  to {
    -webkit-transform: scale(.4) translateZ(0);
    transform: scale(.4) translateZ(0)
  }
}

.m-dialog.opennet-dialog-style {
  overflow-y: auto
}

.m-dialog.opennet-dialog-style .m-dialog-head h1 {
  font-size: 20px
}

@media only screen and (min-width:768px) and (max-width:1024px) and (max-height:1024px), only screen and (min-width:1024px) and (max-width:1439px), only screen and (min-width:1440px) and (max-width:2559px), only screen and (min-width:2560px) {
  .m-dialog.opennet-dialog-style .m-dialog-head {
    padding-left: 24px;
    padding-right: 24px
  }

  .m-dialog.opennet-dialog-style .m-dialog-head .m-dialog-close {
    display: none
  }
}

@media only screen and (min-width:768px) and (max-width:1024px) and (max-height:1024px), only screen and (min-width:1024px) and (max-width:1439px), only screen and (min-width:1440px) and (max-width:2559px), only screen and (min-width:2560px) {
  .m-dialog.opennet-dialog-style .m-dialog-body:first-child {
    margin-top: 20px
  }
}

.m-dialog.opennet-dialog-style .m-dialog-body:not(:last-child) {
  margin-bottom: 20px
}

.m-dialog.opennet-dialog-style .m-dialog-body .m-dialog-main {
  color: #353a45;
  font-size: 16px
}

@media only screen and (min-width:768px) and (max-width:1024px) and (max-height:1024px), only screen and (min-width:1024px) and (max-width:1439px), only screen and (min-width:1440px) and (max-width:2559px), only screen and (min-width:2560px) {
  .m-dialog.opennet-dialog-style .m-dialog-body .m-dialog-main {
    font-size: 14px;
    padding: 0 24px
  }
}

.m-dialog.opennet-dialog-style .m-dialog-footer {
  padding: 0 2rem
}

@media only screen and (min-width:768px) and (max-width:1024px) and (max-height:1024px), only screen and (min-width:1024px) and (max-width:1439px), only screen and (min-width:1440px) and (max-width:2559px), only screen and (min-width:2560px) {
  .m-dialog.opennet-dialog-style .m-dialog-footer {
    margin-bottom: 20px
  }
}

.m-dialog.opennet-dialog-style .m-dialog-footer .es-dialog-btn {
  background-color: initial;
  border: none;
  color: #0d9737;
  font-size: 14px;
  font-weight: 700;
  min-width: 75px;
  width: auto
}

.m-dialog.opennet-dialog-style .m-dialog-footer .es-dialog-btn:hover {
  background-color: initial;
  color: #0d9737;
  cursor: pointer
}

.m-dialog.opennet-dialog-style.has-oppositive-button .m-dialog-footer .es-dialog-btn:first-child {
  color: #9ca0ab
}

.m-dialog.opennet-dialog-style.has-oppositive-button__reverse .m-dialog-footer .es-dialog-btn:last-child {
  color: #9ca0ab
}

.m-dialog.opennet-dialog-style.has-oppositive-button-right .m-dialog-footer .es-dialog-btn:last-child {
  color: #9ca0ab
}

.m-dialog.opennet-dialog-style.no-padding-on-main .m-dialog-body .m-dialog-main {
  padding: 0
}

.m-dialog.opennet-dialog-style.no-fixed-height-header .m-dialog-head h1 {
  height: auto
}

.m-dialog.pure-container, .m-dialog.pure-container .m-dialog-body .m-dialog-main {
  padding: 0
}

.m-dialog.align-with-window {
  position: fixed !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 !important
}

.m-0 {
  margin: 0
}

.p-0 {
  padding: 0
}

.mt-0, .my-0 {
  margin-top: 0
}

.pt-0, .py-0 {
  padding-top: 0
}

.mb-0, .my-0 {
  margin-bottom: 0
}

.pb-0, .py-0 {
  padding-bottom: 0
}

.ml-0, .mx-0 {
  margin-left: 0
}

.mr-0, .mx-0 {
  margin-right: 0
}

.pl-0, .px-0 {
  padding-left: 0
}

.pr-0, .px-0 {
  padding-right: 0
}

.m-0\.5 {
  margin: .16666667rem
}

.p-0\.5 {
  padding: .16666667rem
}

.mt-0\.5, .my-0\.5 {
  margin-top: .16666667rem
}

.pt-0\.5, .py-0\.5 {
  padding-top: .16666667rem
}

.mb-0\.5, .my-0\.5 {
  margin-bottom: .16666667rem
}

.pb-0\.5, .py-0\.5 {
  padding-bottom: .16666667rem
}

.ml-0\.5, .mx-0\.5 {
  margin-left: .16666667rem
}

.mr-0\.5, .mx-0\.5 {
  margin-right: .16666667rem
}

.pl-0\.5, .px-0\.5 {
  padding-left: .16666667rem
}

.pr-0\.5, .px-0\.5 {
  padding-right: .16666667rem
}

.m-1 {
  margin: .33333333rem
}

.p-1 {
  padding: .33333333rem
}

.mt-1, .my-1 {
  margin-top: .33333333rem
}

.pt-1, .py-1 {
  padding-top: .33333333rem
}

.mb-1, .my-1 {
  margin-bottom: .33333333rem
}

.pb-1, .py-1 {
  padding-bottom: .33333333rem
}

.ml-1, .mx-1 {
  margin-left: .33333333rem
}

.mr-1, .mx-1 {
  margin-right: .33333333rem
}

.pl-1, .px-1 {
  padding-left: .33333333rem
}

.pr-1, .px-1 {
  padding-right: .33333333rem
}

.m-2 {
  margin: .66666667rem
}

.p-2 {
  padding: .66666667rem
}

.mt-2, .my-2 {
  margin-top: .66666667rem
}

.pt-2, .py-2 {
  padding-top: .66666667rem
}

.mb-2, .my-2 {
  margin-bottom: .66666667rem
}

.pb-2, .py-2 {
  padding-bottom: .66666667rem
}

.ml-2, .mx-2 {
  margin-left: .66666667rem
}

.mr-2, .mx-2 {
  margin-right: .66666667rem
}

.pl-2, .px-2 {
  padding-left: .66666667rem
}

.pr-2, .px-2 {
  padding-right: .66666667rem
}

.m-3 {
  margin: 1rem
}

.p-3 {
  padding: 1rem
}

.mt-3, .my-3 {
  margin-top: 1rem
}

.pt-3, .py-3 {
  padding-top: 1rem
}

.mb-3, .my-3 {
  margin-bottom: 1rem
}

.pb-3, .py-3 {
  padding-bottom: 1rem
}

.ml-3, .mx-3 {
  margin-left: 1rem
}

.mr-3, .mx-3 {
  margin-right: 1rem
}

.pl-3, .px-3 {
  padding-left: 1rem
}

.pr-3, .px-3 {
  padding-right: 1rem
}

.m-3\.5 {
  margin: 1.16666667rem
}

.p-3\.5 {
  padding: 1.16666667rem
}

.mt-3\.5, .my-3\.5 {
  margin-top: 1.16666667rem
}

.pt-3\.5, .py-3\.5 {
  padding-top: 1.16666667rem
}

.mb-3\.5, .my-3\.5 {
  margin-bottom: 1.16666667rem
}

.pb-3\.5, .py-3\.5 {
  padding-bottom: 1.16666667rem
}

.ml-3\.5, .mx-3\.5 {
  margin-left: 1.16666667rem
}

.mr-3\.5, .mx-3\.5 {
  margin-right: 1.16666667rem
}

.pl-3\.5, .px-3\.5 {
  padding-left: 1.16666667rem
}

.pr-3\.5, .px-3\.5 {
  padding-right: 1.16666667rem
}

.m-3\.75 {
  margin: 1.25rem
}

.p-3\.75 {
  padding: 1.25rem
}

.mt-3\.75, .my-3\.75 {
  margin-top: 1.25rem
}

.pt-3\.75, .py-3\.75 {
  padding-top: 1.25rem
}

.mb-3\.75, .my-3\.75 {
  margin-bottom: 1.25rem
}

.pb-3\.75, .py-3\.75 {
  padding-bottom: 1.25rem
}

.ml-3\.75, .mx-3\.75 {
  margin-left: 1.25rem
}

.mr-3\.75, .mx-3\.75 {
  margin-right: 1.25rem
}

.pl-3\.75, .px-3\.75 {
  padding-left: 1.25rem
}

.pr-3\.75, .px-3\.75 {
  padding-right: 1.25rem
}

.m-4 {
  margin: 1.33333333rem
}

.p-4 {
  padding: 1.33333333rem
}

.mt-4, .my-4 {
  margin-top: 1.33333333rem
}

.pt-4, .py-4 {
  padding-top: 1.33333333rem
}

.mb-4, .my-4 {
  margin-bottom: 1.33333333rem
}

.pb-4, .py-4 {
  padding-bottom: 1.33333333rem
}

.ml-4, .mx-4 {
  margin-left: 1.33333333rem
}

.mr-4, .mx-4 {
  margin-right: 1.33333333rem
}

.pl-4, .px-4 {
  padding-left: 1.33333333rem
}

.pr-4, .px-4 {
  padding-right: 1.33333333rem
}

.m-4\.5 {
  margin: 1.5rem
}

.p-4\.5 {
  padding: 1.5rem
}

.mt-4\.5, .my-4\.5 {
  margin-top: 1.5rem
}

.pt-4\.5, .py-4\.5 {
  padding-top: 1.5rem
}

.mb-4\.5, .my-4\.5 {
  margin-bottom: 1.5rem
}

.pb-4\.5, .py-4\.5 {
  padding-bottom: 1.5rem
}

.ml-4\.5, .mx-4\.5 {
  margin-left: 1.5rem
}

.mr-4\.5, .mx-4\.5 {
  margin-right: 1.5rem
}

.pl-4\.5, .px-4\.5 {
  padding-left: 1.5rem
}

.pr-4\.5, .px-4\.5 {
  padding-right: 1.5rem
}

.m-5 {
  margin: 1.66666667rem
}

.p-5 {
  padding: 1.66666667rem
}

.mt-5, .my-5 {
  margin-top: 1.66666667rem
}

.pt-5, .py-5 {
  padding-top: 1.66666667rem
}

.mb-5, .my-5 {
  margin-bottom: 1.66666667rem
}

.pb-5, .py-5 {
  padding-bottom: 1.66666667rem
}

.ml-5, .mx-5 {
  margin-left: 1.66666667rem
}

.mr-5, .mx-5 {
  margin-right: 1.66666667rem
}

.pl-5, .px-5 {
  padding-left: 1.66666667rem
}

.pr-5, .px-5 {
  padding-right: 1.66666667rem
}

.m-8 {
  margin: 2.66666667rem
}

.p-8 {
  padding: 2.66666667rem
}

.mt-8, .my-8 {
  margin-top: 2.66666667rem
}

.pt-8, .py-8 {
  padding-top: 2.66666667rem
}

.mb-8, .my-8 {
  margin-bottom: 2.66666667rem
}

.pb-8, .py-8 {
  padding-bottom: 2.66666667rem
}

.ml-8, .mx-8 {
  margin-left: 2.66666667rem
}

.mr-8, .mx-8 {
  margin-right: 2.66666667rem
}

.pl-8, .px-8 {
  padding-left: 2.66666667rem
}

.pr-8, .px-8 {
  padding-right: 2.66666667rem
}

.m-auto {
  margin: auto
}

.mt-auto, .my-auto {
  margin-top: auto
}

.mr-auto, .mx-auto {
  margin-right: auto
}

.mb-auto, .my-auto {
  margin-bottom: auto
}

.ml-auto, .mx-auto {
  margin-left: auto
}

.d-none {
  display: none
}

.d-inline {
  display: inline
}

.d-inline-block {
  display: inline-block
}

.d-block {
  display: block
}

.d-table {
  display: table
}

.d-table-row {
  display: table-row
}

.d-table-cell {
  display: table-cell
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.d-inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex
}

.bg-green-200 {
  background-color: #d6ebdc
}

.bg-green-300 {
  background-color: #32ce62
}

.bg-green-500 {
  background-color: #0d9737
}

.bg-green-600 {
  background-color: #0a7e2e
}

.bg-green-800 {
  background-color: #096b27
}

.bg-green-900 {
  background-color: #075920
}

.hover\:bg-green-200:hover {
  background-color: #d6ebdc
}

.hover\:bg-green-300:hover {
  background-color: #32ce62
}

.hover\:bg-green-500:hover {
  background-color: #0d9737
}

.hover\:bg-green-600:hover {
  background-color: #0a7e2e
}

.hover\:bg-green-800:hover {
  background-color: #096b27
}

.hover\:bg-green-900:hover {
  background-color: #075920
}

.active\:bg-green-200:active {
  background-color: #d6ebdc
}

.active\:bg-green-300:active {
  background-color: #32ce62
}

.active\:bg-green-500:active {
  background-color: #0d9737
}

.active\:bg-green-600:active {
  background-color: #0a7e2e
}

.active\:bg-green-800:active {
  background-color: #096b27
}

.active\:bg-green-900:active {
  background-color: #075920
}

.bg-red-500 {
  background-color: #e41827
}

.bg-red-600 {
  background-color: #bf1420
}

.bg-red-800 {
  background-color: #7b0911
}

.hover\:bg-red-500:hover {
  background-color: #e41827
}

.hover\:bg-red-600:hover {
  background-color: #bf1420
}

.hover\:bg-red-800:hover {
  background-color: #7b0911
}

.active\:bg-red-500:active {
  background-color: #e41827
}

.active\:bg-red-600:active {
  background-color: #bf1420
}

.active\:bg-red-800:active {
  background-color: #7b0911
}

.bg-gray-300 {
  background-color: #f2f3f5
}

.bg-gray-400 {
  background-color: #eaecef
}

.bg-gray-500 {
  background-color: #dcdee5
}

.bg-gray-700 {
  background-color: #9ca0ab
}

.bg-gray-900 {
  background-color: #353a45
}

.hover\:bg-gray-300:hover {
  background-color: #f2f3f5
}

.hover\:bg-gray-400:hover {
  background-color: #eaecef
}

.hover\:bg-gray-500:hover {
  background-color: #dcdee5
}

.hover\:bg-gray-700:hover {
  background-color: #9ca0ab
}

.hover\:bg-gray-900:hover {
  background-color: #353a45
}

.active\:bg-gray-300:active {
  background-color: #f2f3f5
}

.active\:bg-gray-400:active {
  background-color: #eaecef
}

.active\:bg-gray-500:active {
  background-color: #dcdee5
}

.active\:bg-gray-700:active {
  background-color: #9ca0ab
}

.active\:bg-gray-900:active {
  background-color: #353a45
}

.bg-white {
  background-color: #fff
}

.bg-black {
  background-color: #1b1e25
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0)
}

.hover\:bg-white:hover {
  background-color: #fff
}

.hover\:bg-black:hover {
  background-color: #1b1e25
}

.hover\:bg-transparent:hover {
  background-color: rgba(0, 0, 0, 0)
}

.border-0 {
  border-width: 0
}

.border, .border-0 {
  border-style: solid
}

.border {
  border-width: .08333333rem
}

.border-2 {
  border-width: .16666667rem;
  border-style: solid
}

.border-green-200 {
  border-color: #d6ebdc
}

.border-green-300 {
  border-color: #32ce62
}

.border-green-500 {
  border-color: #0d9737
}

.border-green-600 {
  border-color: #0a7e2e
}

.border-green-800 {
  border-color: #096b27
}

.border-green-900 {
  border-color: #075920
}

.hover\:border-green-200:hover {
  border-color: #d6ebdc
}

.hover\:border-green-300:hover {
  border-color: #32ce62
}

.hover\:border-green-500:hover {
  border-color: #0d9737
}

.hover\:border-green-600:hover {
  border-color: #0a7e2e
}

.hover\:border-green-800:hover {
  border-color: #096b27
}

.hover\:border-green-900:hover {
  border-color: #075920
}

.border-red-500 {
  border-color: #e41827
}

.border-red-600 {
  border-color: #bf1420
}

.border-red-800 {
  border-color: #7b0911
}

.hover\:border-red-500:hover {
  border-color: #e41827
}

.hover\:border-red-600:hover {
  border-color: #bf1420
}

.hover\:border-red-800:hover {
  border-color: #7b0911
}

.border-gray-300 {
  border-color: #f2f3f5
}

.border-gray-400 {
  border-color: #eaecef
}

.border-gray-500 {
  border-color: #dcdee5
}

.border-gray-700 {
  border-color: #9ca0ab
}

.border-gray-900 {
  border-color: #353a45
}

.hover\:border-gray-300:hover {
  border-color: #f2f3f5
}

.hover\:border-gray-400:hover {
  border-color: #eaecef
}

.hover\:border-gray-500:hover {
  border-color: #dcdee5
}

.hover\:border-gray-700:hover {
  border-color: #9ca0ab
}

.hover\:border-gray-900:hover {
  border-color: #353a45
}

.border-transparent, .hover\:border-transparent {
  border-color: rgba(0, 0, 0, 0)
}

.rounded-none {
  border-radius: 0
}

.rounded {
  border-radius: .16666667rem
}

.border-solid {
  border-style: solid
}

.border-none {
  border-style: none
}

.cursor-default {
  cursor: default
}

.cursor-pointer {
  cursor: pointer
}

.cursor-wait {
  cursor: wait
}

.cursor-not-allowed {
  cursor: not-allowed
}

.pointer-events-none {
  pointer-events: none
}

.flex-direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row
}

.flex-direction-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse
}

.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.flex-direction-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse
}

.justify-content-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.justify-content-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.justify-content-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.justify-content-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.justify-content-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.align-items-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start
}

.align-self-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start
}

.align-items-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end
}

.align-self-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end
}

.align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.align-self-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center
}

.align-items-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline
}

.align-self-baseline {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline
}

.align-items-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}

.align-self-stretch {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch
}

.align-content-start {
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start
}

.align-content-end {
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end
}

.align-content-center {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center
}

.align-content-between {
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between
}

.align-content-around {
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around
}

.align-content-baseline {
  -webkit-align-content: baseline;
  -ms-flex-line-pack: baseline;
  align-content: baseline
}

.align-content-stretch {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch
}

.flex-nowrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.flex-wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse
}

.order-1 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1
}

.order-2 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2
}

.order-3 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3
}

.order-4 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4
}

.order-5 {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5
}

.order-6 {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6
}

.order-7 {
  -webkit-box-ordinal-group: 8;
  -webkit-order: 7;
  -ms-flex-order: 7;
  order: 7
}

.order-8 {
  -webkit-box-ordinal-group: 9;
  -webkit-order: 8;
  -ms-flex-order: 8;
  order: 8
}

.order-9 {
  -webkit-box-ordinal-group: 10;
  -webkit-order: 9;
  -ms-flex-order: 9;
  order: 9
}

.order-10 {
  -webkit-box-ordinal-group: 11;
  -webkit-order: 10;
  -ms-flex-order: 10;
  order: 10
}

.order-11 {
  -webkit-box-ordinal-group: 12;
  -webkit-order: 11;
  -ms-flex-order: 11;
  order: 11
}

.order-12 {
  -webkit-box-ordinal-group: 13;
  -webkit-order: 12;
  -ms-flex-order: 12;
  order: 12
}

.text-1 {
  font-size: 1rem
}

.text-2 {
  font-size: 1.16666667rem
}

.text-2\.5 {
  font-size: 1.33333333rem
}

.text-3 {
  font-size: 1.5rem
}

.text-4 {
  font-size: 1.66666667rem
}

.text-green-200 {
  color: #d6ebdc
}

.text-green-300 {
  color: #32ce62
}

.text-green-500 {
  color: #0d9737
}

.text-green-600 {
  color: #0a7e2e
}

.text-green-800 {
  color: #096b27
}

.text-green-900 {
  color: #075920
}

.hover\:text-green-200:hover {
  color: #d6ebdc
}

.hover\:text-green-300:hover {
  color: #32ce62
}

.hover\:text-green-500:hover {
  color: #0d9737
}

.hover\:text-green-600:hover {
  color: #0a7e2e
}

.hover\:text-green-800:hover {
  color: #096b27
}

.hover\:text-green-900:hover {
  color: #075920
}

.text-red-500 {
  color: #e41827
}

.text-red-600 {
  color: #bf1420
}

.text-red-800 {
  color: #7b0911
}

.hover\:text-red-500:hover {
  color: #e41827
}

.hover\:text-red-600:hover {
  color: #bf1420
}

.hover\:text-red-800:hover {
  color: #7b0911
}

.text-gray-300 {
  color: #f2f3f5
}

.text-gray-400 {
  color: #eaecef
}

.text-gray-500 {
  color: #dcdee5
}

.text-gray-700 {
  color: #9ca0ab
}

.text-gray-900 {
  color: #353a45
}

.hover\:text-gray-300:hover {
  color: #f2f3f5
}

.hover\:text-gray-400:hover {
  color: #eaecef
}

.hover\:text-gray-500:hover {
  color: #dcdee5
}

.hover\:text-gray-700:hover {
  color: #9ca0ab
}

.hover\:text-gray-900:hover {
  color: #353a45
}

.text-white {
  color: #fff
}

.text-black {
  color: #1b1e25
}

.text-transparent {
  color: rgba(0, 0, 0, 0)
}

.hover\:text-white:hover {
  color: #fff
}

.hover\:text-black:hover {
  color: #1b1e25
}

.hover\:text-transparent:hover {
  color: rgba(0, 0, 0, 0)
}

.font-weight-lighter {
  font-weight: lighter
}

.font-weight-normal {
  font-weight: 400
}

.font-weight-bold {
  font-weight: 700
}

.font-weight-bolder {
  font-weight: bolder
}

.hover\:font-weight-lighter:hover {
  font-weight: lighter
}

.hover\:font-weight-normal:hover {
  font-weight: 400
}

.hover\:font-weight-bold:hover {
  font-weight: 700
}

.hover\:font-weight-bolder:hover {
  font-weight: bolder
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.white-space-nowarp {
  white-space: nowarp
}

.white-space-pre-wrap {
  white-space: pre-wrap
}

.white-space-normal {
  white-space: normal
}

.text-lowercase {
  text-transform: lowercase
}

.text-uppercase {
  text-transform: uppercase
}

.text-capitalize {
  text-transform: capitalize
}

.border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.content-box {
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

.transition {
  -webkit-transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  -webkit-transition-duration: .15s;
  transition-duration: .15s
}

.transition-none {
  -webkit-transition-property: none;
  transition-property: none
}

.trasition-all {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  -webkit-transition-duration: .15s;
  transition-duration: .15s
}

.relative {
  position: relative
}

.absolute {
  position: absolute
}

.m-table {
  display: block;
  width: 100%
}

.m-table .m-table-row {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%
}

.m-table .m-table-cell {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 1%
}
